In [4]:
from sklearn.datasets import make_regression
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:

X,y = make_regression(n_samples=100, n_features=10, n_informative=7, noise=1, random_state=42, )

In [5]:
X_df = pd.DataFrame(X)

In [6]:
X_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       100 non-null    float64
 1   1       100 non-null    float64
 2   2       100 non-null    float64
 3   3       100 non-null    float64
 4   4       100 non-null    float64
 5   5       100 non-null    float64
 6   6       100 non-null    float64
 7   7       100 non-null    float64
 8   8       100 non-null    float64
 9   9       100 non-null    float64
dtypes: float64(10)
memory usage: 7.9 KB

In [7]:
X_df.head()

,0,1,2,3,4,5,6,7,8,9
0,-0.926930,-1.430141,1.632411,-3.241267,-1.247783,-1.024388,0.130741,-0.059525,-0.252568,-0.440044
1,0.202923,0.334457,0.285865,1.547505,-0.387702,1.795878,2.010205,-1.515744,-0.612789,0.658544
2,-0.241236,0.456753,0.342725,-1.251539,1.117296,1.443765,0.447709,0.352055,-0.082151,0.569767
3,0.289775,-1.008086,-2.038125,0.871125,-0.408075,-0.326024,-0.351513,2.075401,1.201214,-1.870792
4,-0.007973,-0.190339,-1.037246,0.077368,0.538910,-0.861284,-1.382800,1.479944,1.523124,-0.875618

In [8]:
X_df.describe()

,0,1,2,3,4,5,6,7,8,9
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.003618,0.038018,-0.047772,-0.048511,-0.032549,0.108974,0.058295,0.002578,0.079499,0.031172
std,0.894297,0.904248,0.954652,1.026363,0.976823,1.016550,1.022648,1.047359,1.042712,0.921830
min,-1.918771,-2.423879,-2.696887,-3.241267,-2.211135,-2.198806,-1.987569,-2.301921,-2.619745,-2.650970
25%,-0.574156,-0.572616,-0.776155,-0.700307,-0.705970,-0.678367,-0.628305,-0.710363,-0.622252,-0.532816
50%,0.079078,0.094496,0.013466,-0.023125,-0.063027,0.200009,-0.014331,-0.052911,-0.027014,0.064005
75%,0.532233,0.601449,0.530416,0.636509,0.637617,0.853640,0.697232,0.804413,0.815031,0.552765
max,2.526932,2.455300,1.886186,2.560085,2.632382,2.463242,3.852731,2.075401,2.573360,3.078881